<div class="button {{style}} {{shape}} {{size}}" [class.secondary]="active" [class.disabled]="disabled"
     [ngStyle]="{'height.px': height}" (click)="action()" fxLayout="row" fxLayoutAlign="space-between center">

  <i-feather class="icon left" [class.zero-margin]="!text" *ngIf="iconLeft" name="{{iconLeft}}"></i-feather>
  <span class="text" *ngIf="text" [class.no-icon]="!iconLeft && !iconRight">{{text}}</span>
  <i-feather class="icon right" [class.zero-margin]="!text" *ngIf="iconRight" name="{{iconRight}}"></i-feather>
</div>
