@import "../../../../styles/variables";

.button {
  padding: 6px 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition:  0.2s;

  &:hover {
    cursor: pointer;
  }

  &.disabled:hover {
    cursor: default !important;
  }
}

.primary {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;

  &:hover {
    background-color: $white;
    color: $primary;
  }
}

.primary-outline {
  border: 2px solid $white;
  color: $white;

  &:hover {
    background-color: $white;
    border: 2px solid $white;
    color: $primary;
  }
}

.secondary {
  background-color: $secondary;
  border: 2px solid $secondary;
  color: $white;

  &:hover {
    background-color: $white;
    color: $secondary;
  }
}

.disabled {
  background-color: $gray;
  border: 2px solid $gray;
  color: $white;
  opacity: 0.75;

  &:hover {
    background-color: $gray;
    color: $white;
  }
}

.text {
  margin-top: -2px;

  &.no-icon {
    margin: -2px 8px 0 8px;
  }
}

.icon {
  transform: scale(0.8);

  &.left {
    margin-right: 12px;
  }

  &.right {
    margin-left: 12px;
  }

  &.zero-margin {
    margin: 0 !important;
  }
}

/* Shape */

.rectangle {
  border-radius: 8px;
}

.circle {
  border-radius: 128px;
}

/* Sizes */

.small {
  height: 32px;

  padding: 4px 8px;
  font-size: 13px;

  .text {
    margin-top: 1px;
  }

  .icon {
    transform: scale(0.7);

    &.left {
      margin-right: 8px;
    }

    &.right {
      margin-left: 8px;
    }
  }
}

.big {
  padding: 12px 16px;
  font-size: 18px;

  .text {
    margin-top: 0;
  }

  .icon {
    transform: scale(1.0);

    &.left {
      margin-right: 16px;
    }

    &.right {
      margin-left: 16px;
    }

  }
}
