<div *ngIf="manifest" [@fadeInAnimation]>
  <div class="bar-container" fxLayout="row" fxLayoutAlign="space-between center">
    <h3 class="spacing-title secondary">Layers</h3>
    <i-feather class="primary" name="layers"></i-feather>
  </div>

  <div fxLayout="column">
    <div fxFlex="100" class="card-container">
      <div *ngFor="let layer of manifest.fsLayers" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 class="title">Blob sum</h4>
        <h5 class="subtitle">{{layer.blobSum}}</h5>
      </div>
    </div>
  </div>
</div>
