<div class="card" [class.route-card]="routeStyle === 'card'" [@fadeInAnimation]>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="baseline center">
      <i-feather name="{{iconLeft}}" class="icon"></i-feather>
      <div fxLayout="column" fxLayoutAlign="start start">
        <h3 class="title" *ngIf="title">{{title}}</h3>
        <h5 class="subtitle" *ngIf="subtitle">{{subtitle}}</h5>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="baseline center">
      <app-button *ngIf="this.routeStyle === 'button'" [text]="routeText" [icon]="iconRight"></app-button>
    </div>

  </div>
</div>
