@import "../../../../styles/variables";

/* Type */

.action-card {
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 4px $primary;
    cursor: pointer;

    .title {
      color: $primary;
    }

    .icon {
      color: $primary;
    }
  }
}

.active-card {
  box-shadow: 0 0 4px $secondary;
}

/* Size */

.size-small {
  padding: 8px 12px;

  .icon {
    width: 22px;
    margin: 6px 12px 0 4px;

    &.alone {
      margin: 6px;
    }
  }
}

.size-normal {
  padding: 16px 24px;

  .icon {
    margin-right: 24px;
  }
}

/* Text */

.title {
  color: $secondary;
  transition: 0.2s;
  padding: 4px 0 2px 0;
}

.subtitle {
  color: $gray;
  transition: 0.2s;
  padding: 2px 0 4px 0;
}

.icon {
  color: $gray;
  transition: 0.2s;
}
