<div class="card-container size-{{size}}" [class.active-card]="active"
     [class.action-card]="action === CardAction.EMIT || action === CardAction.CLICK"
     (click)="emit()" [@fadeInAnimation] [tooltip]="tooltip">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="baseline center">
      <i-feather *ngIf="iconLeft" name="{{iconLeft}}" class="icon" [class.alone]="!title"></i-feather>
      <div fxLayout="column" fxLayoutAlign="start start">
        <h3 class="title" *ngIf="title">{{title}}</h3>
        <h5 class="subtitle" *ngIf="subtitle">{{subtitle}}</h5>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="baseline center">
      <app-button *ngIf="this.action === CardAction.ROUTE" [route]="route" [text]="routeText" [iconRight]="iconRight">
      </app-button>
      <h5 class="subtitle" *ngIf="description && action === CardAction.NONE">{{description}}</h5>
    </div>

  </div>
</div>
