<div *ngIf="manifest" [@fadeInAnimation]>

  <div *ngFor="let signature of manifest.signatures">

    <div class="bar-container" fxLayout="row" fxLayoutAlign="space-between center">
      <h3 class="spacing-title secondary">Keys</h3>
      <i-feather class="secondary" name="key"></i-feather>
    </div>

    <div class="card-container">
      <div fxLayoutAlign="space-between center">
        <h4 class="title">Digest</h4>
        <h5 class="subtitle">{{manifest.digest}}</h5>
      </div>

      <div fxLayoutAlign="space-between center">
        <h4 class="title">Signature</h4>
        <h5 class="subtitle">{{signature.signature}}</h5>
      </div>

      <div fxLayoutAlign="space-between center">
        <h4 class="title">Protected</h4>
        <h5 class="subtitle">{{signature.protected}}</h5>
      </div>
    </div>

  </div>

</div>
