<app-tabs [tabs]="tabs" [actions]="actions" (active)="setActive($event)"></app-tabs>

<div class="manifest-container" fxLayout="column" fxLayoutAlign="center center">

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" fxFill>
    <app-manifest-metadata [manifest]="manifest" *ngIf="activeTab === 'basic-information'" fxFlex="25">
    </app-manifest-metadata>

    <app-manifest-signatures [manifest]="manifest" *ngIf="activeTab === 'basic-information'" fxFlex="75">
    </app-manifest-signatures>
  </div>

  <app-manifest-header [manifest]="manifest" *ngIf="activeTab === 'basic-information'" fxFill>
  </app-manifest-header>

  <app-manifest-history [manifest]="manifest" *ngIf="activeTab === 'history'" fxFill>
  </app-manifest-history>

  <app-manifest-layers [manifest]="manifest" *ngIf="activeTab === 'layers'" fxFill>
  </app-manifest-layers>
</div>

