<div class="bar-container" fxLayoutAlign="space-between center" [@fadeInAnimation]>
  <h2 class="spacing-title bar-title secondary">Your repositories</h2>
</div>

<app-loader *ngIf="loading" [marginTop]="256" [description]="'Loading repositories...'"></app-loader>

<div *ngIf="!loading">
  <div fxLayoutAlign="space-between center">
    <app-text-input [width]="256" [placeholder]="'Search repositories...'" [icon]="'search'" (output)="filter($event)">
    </app-text-input>

    <app-pagination [pageSize]="pageSize" [pagesAmount]="pagesAmount" (currentPage)="paginate($event)"></app-pagination>
  </div>

  <app-card *ngFor="let repository of repositories"
            [title]="repository"
            [subtitle]="'Local docker image'"
            [iconLeft]="'box'"
            [iconRight]="'arrow-right-circle'"
            [action]="CardAction.ROUTE"
            [route]="'repositories/' + repository"
            [routeText]="'Show details'">
  </app-card>
</div>
