<div class="bar-container" [@fadeInAnimation]>
  <h2 class="spacing-title bar-title secondary">Your repositories</h2>
</div>

<app-loader *ngIf="loading" [marginTop]="256" [description]="'Loading repositories...'"></app-loader>

<div *ngIf="!loading">
  <div fxLayout="row" fxLayoutAlign="space-between center"
       fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
    <app-text-input [width]="256" [placeholder]="'Search repositories...'" [icon]="'search'" (output)="filter($event)">
    </app-text-input>

    <app-pagination [pageSize]="pageSize" [pagesAmount]="pagesAmount" (currentPage)="paginate($event)">
    </app-pagination>
  </div>

  <app-card *ngFor="let repository of repositories"
            [title]="repository"
            [subtitle]="'Local docker image'"
            [iconLeft]="'box'"
            [iconRight]="'arrow-right-circle'"
            [action]="CardAction.ROUTE"
            [route]="repository"
            [routeText]="'Show details'">
  </app-card>

  <div class="empty-container" *ngIf="repositories.length < 1" [@fadeInAnimation]
       fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="32px">
    <i-feather class="icon gray" name="alert-octagon"></i-feather>
    <h2 class="spacing-title gray">No repositories</h2>
  </div>
</div>
