@import "variables";

/* Colors */

.white {
  color: $white;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.gray {
  color: $gray;
}

.gray-dark {
  color: $gray-dark;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.spacing-title {
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* Containers */

.card-container {
  background-color: $white;
  border-color: $gray;
  padding: 16px 24px;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px $gray-transparent;
}

.bar-container {
  padding: 24px 16px 12px;
}

/* General */

body {
  margin: 0;
  padding: 0;

  background-color: $gray-light;
  font-family: 'Lato', sans-serif;
}

::selection {
  color: $white;
  background: $primary;
}
