@import "variables";

/* Colors */

.white {
  color: $white;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.gray {
  color: $gray;
}

/* Fonts */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.spacing-title {
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* General */

body {
  margin: 0;
  padding: 0;

  background-color: $gray-light;
  font-family: 'Lato', sans-serif;
}

::selection {
  color: $white;
  background: $primary;
}
