/* Colors */

$primary: rgb(9, 156, 236);
$secondary: rgb(29, 102, 143);

$white: rgb(255, 255, 255);

$gray-light: rgb(241, 244, 246);
$gray: rgb(129, 147, 159);
$gray-dark: rgb(39, 52, 59);

$gray-transparent: rgba(129, 147, 159, 0.2);
