@import 'src/styles/variables';

ul {
  li {
    margin-left: 32px;
    display: inline;
    cursor: pointer;

    a {
      padding: 12px 18px;

      border-radius: 12px;
      border: 2px solid $white;

      font-size: 18px;
      font-weight: 600;

      color: $white;
      text-decoration: none;
      outline: none;
      transition: 0.2s;

      &:hover, &.active {
        background-color: $white;
        color: $primary;
      }

      &.scrolled {
        font-size: 16px;
        padding: 10px 14px;
      }
    }
  }

  .icon {
    width: 18px;
    margin-right: 16px;

    &.scrolled {
      width: 16px;
    }
  }
}
