<div class="bar-container" fxLayoutAlign="space-between center" [@fadeInAnimation]>
  <h2 class="spacing-title bar-title secondary">{{repository}}</h2>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="tags">
  <div fxLayout="row">
    <app-card *ngFor="let tag of tags.tags" [title]="tag" [iconLeft]="'tag'" [action]="CardAction.EMIT"
              [size]="CardSize.SMALL" [active]="tag === active" (emitter)="setActive($event)">
    </app-card>
  </div>
  <div fxLayout="row" *ngIf="manifest" [@fadeInAnimation]>
    <app-card [iconLeft]="'copy'" [size]="CardSize.SMALL" [action]="CardAction.CLICK" [tooltip]="'Copy to clipboard'"
              (click)="copyToClipboard()">
    </app-card>
    <app-card [iconLeft]="'trash'" [size]="CardSize.SMALL" [action]="CardAction.CLICK" [tooltip]="'Delete manifest'"
              (click)="deleteManifest()">
    </app-card>
  </div>
</div>

<app-loader *ngIf="loading" [description]="!tags ? 'Loading tags...' : 'Loading manifest...'"
            [marginTop]="!tags ? 256 : 172">
</app-loader>

<app-manifest *ngIf="!loading && manifest" [manifest]="manifest"></app-manifest>
