<div class="bar-container" fxLayoutAlign="space-between center" [@fadeInAnimation]>
  <h2 class="spacing-title secondary">{{repository}}</h2>
  <div fxLayoutAlign="end center" *ngIf="cmd" [@fadeInAnimation]>
    <h5 class="spacing-title secondary">{{cmd}}</h5>
    <i-feather class="copy-icon" name="copy"></i-feather>
  </div>
</div>

<div fxLayout="row" *ngIf="tags">
  <app-card *ngFor="let tag of tags.tags" [title]="tag" [iconLeft]="'tag'" [action]="'emit'"
            [active]="tag === active" (emitter)="setActive($event)">
  </app-card>
</div>

<app-loader *ngIf="loading" [description]="!tags ? 'Loading tags...' : 'Loading manifest...'"
            [marginTop]="!tags ? 256 : 172">
</app-loader>

<app-manifest *ngIf="!loading && manifest" [manifest]="manifest"></app-manifest>
