@import "src/styles/variables";

.notification {
  width: 512px;
  max-height: 512px;

  padding: 12px;
  border-radius: 12px;

  background: $white;

  overflow: hidden;
  opacity: 1.0;
  transition: 0.2s;

  &.success {
    border: 1px solid $primary;
    box-shadow: 0 0 2px rgba($primary, 0.1);

    .message {
      color: rgba($primary, 0.75);
    }

    &:hover {
      box-shadow: 0 0 4px rgba($primary, 0.5);
    }
  }

  &.error {
    border: 1px solid $error;
    box-shadow: 0 0 2px rgba($error, 0.1);

    .message {
      color: rgba($error, 0.75);
    }

    &:hover {
      box-shadow: 0 0 4px rgba($error, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.faded {
    max-height: 0;
    opacity: 0;
  }

  .message {
    font-size: 16px;
  }
}
