@import "src/styles/variables";

.notification {
  width: 512px;
  max-height: 512px;

  padding: 12px;
  border-radius: 12px;

  background: $white;

  box-shadow: 0 0 8px $gray-transparent;

  overflow: hidden;
  opacity: 1.0;
  transition: 0.2s;

  &.success {
    border-left: 2px solid $primary;

    .message {
      color: $primary;
    }

    &:hover {
      box-shadow: 0 0 4px rgba($primary, 0.5);
    }
  }

  &.error {
    border-left: 2px solid $error;

    .message {
      color: $error;
    }

    &:hover {
      box-shadow: 0 0 4px rgba($error, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.faded {
    max-height: 0;
    opacity: 0;
  }

  .message {
    font-size: 16px;
  }
}
