@import "src/styles/variables";

.notification {
  padding: 16px 24px;
  border-radius: 12px;

  background: $white;

  width: 512px;

  opacity: 1.0;
  max-height: 512px;

  overflow: hidden;

  transition: 0.2s;

  &.success {
    color: rgba($primary, 0.25);
    box-shadow: 0 0 4px rgba($primary, 0.25);
    border-left: 12px solid rgba($primary, 0.25);

    .title {
      color: rgba($primary, 0.25);
    }

    .message {
      color: rgba($gray, 0.5);
    }

    &:hover {
      color: rgba($primary, 1.0);
      box-shadow: 0 0 8px rgba($primary, 0.5);
      border-left: 12px solid rgba($primary, 1.0);

      .title {
        color: rgba($primary, 1.0);
      }

      .message {
        color: rgba($gray, 1.0);
      }
    }
  }

  &.error {
    color: rgba($error, 0.25);
    box-shadow: 0 0 4px rgba($error, 0.25);
    border-left: 12px solid rgba($error, 0.25);

    .title {
      color: rgba($error, 0.25);
    }

    .message {
      color: rgba($gray, 0.5);
    }

    &:hover {
      color: rgba($error, 1.0);
      box-shadow: 0 0 8px rgba($error, 0.5);
      border-left: 12px solid rgba($error, 1.0);

      .title {
        color: rgba($error, 1.0);
      }

      .message {
        color: rgba($gray, 1.0);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.faded {
    max-height: 0;
    opacity: 0;
  }

  .title {
    transition: color 0.2s;
    font-size: 24px;
    letter-spacing: 2px;
  }

  .message {
    transition: color 0.2s;
    font-size: 16px;
  }

  .close-icon {
    margin-top: 8px;
  }
}
