/* Colors */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(200, 200, 200);

$gray-transparent: rgba(200, 200, 200, 0.25);

/* Body */

body {
  background-color: rgb(250, 250, 250)
}

/* Main containers */

.container {
  display: flex
}

/* Card */

.card {
  background-color: $white;
  border-color: $gray;
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px $gray-transparent;
}
